<!DOCTYPE html>
{% load static %}
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animated Login Form | CodingNepal</title>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      {%if messages%}
        {%for msg in messages%}
        <div class="row">
          <div class="cols-12">
            {{msg}}
          </div>
        </div>
        {%end for%}
      {&endif&}


      <div class="row">
        <div class="cols-1"></div>
        <div class="cols-10">
          {{form.errors}}
        </div>
        <div class="cols-1"></div>
      </div>

      <form method="post">
        {%csrf_token%}
        <div class="txt_field">
          <input type="text" name="username" id="id_username" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password1" id="id_password1" required>
          <span></span>
          <label>Password</label>
        </div>
      </form>
    </div>

  </body>
</html>
